.modal {
  position: fixed;
  z-index: 50;
  background-color: rgb(10, 50, 90);
  color: white;
  height: 450px;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px 3px rgb(148, 148, 148);
  animation: showModal 0.25s 1 ease-in;
  display: none;
}

.modal .modal-close {
  cursor: pointer;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  margin: 7px 17px 0 0;
  z-index: -1;
}
.modal .modal-close span {
  position: absolute;
  background-color: rgb(146, 136, 136);
  width: 15px;
  height: 15px;
  clip-path: polygon(0 0, 3px 0, 50% 50%, calc(100% - 3px) 0, 100% 0, 50% 50%, 100% 100%, calc(100% - 3px) 100%, 50% 50%, 3px 100%, 0 100%, 50% 50%);
}

.modal .modal-body {
  height: 95%;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-block {
  display: block;
}

@keyframes showModal {
  0% {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
