.header {
  width: 100%;
  min-height: 70px;
  background-color: rgb(10, 50, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-around;
  }
}
