.banner {
  min-height: calc(100vh - 70px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img//banner/banner.jpg") center/cover fixed no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 15.5px;
}

.banner .divider {
  height: 3px;
  background-color: rgb(11, 164, 235);
  width: 30%;
  margin: 7px 0;
}

.banner h3 {
  font-size: 1.9rem;
  text-transform: capitalize;
  letter-spacing: 7px;
}

.banner a {
  text-decoration: none;
  color: white;
  background-color: rgb(10, 50, 90);
  padding: 12px 18px;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  margin-top: 48px;
  font-size: 1.2rem;
  transition: all 0.4s linear;
}
.banner a:hover {
  transform: translateY(-5px);
  background-color: white;
  border: 2px solid rgb(10, 50, 90);
  color: rgb(10, 50, 90);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1024px) {
  .banner .divider {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    background-attachment: unset;
  }
}

@media screen and (max-width: 620px) {
  .banner .divider {
    width: 70%;
  }
}
